* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #96f2d7;
}

section:not(:last-child) {
  margin-bottom: 4.8rem;
}

.hero {
  height: 100vh;
  background-image:
    linear-gradient(rgb(12, 133, 153, 0.9)), url("assets/img/img-bg.png");
  background-size: cover;
}

.hero-content {
  height: 100%;
  margin: 0 15%;
  position: relative;
  /*   display: grid;
  grid-template-columns: 1fr; */
}

.hero-text-box {
  position: absolute;
  top: 40%;

  transform: translate(0%, -40%);
  width: 80%;

  line-height: 1.05;
}

.hero-my-name {
  color: #22b8cf;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3.2rem;
}

.hero-heading {
  color: #f1f3f5;
  font-size: 6.2rem;
  letter-spacing: -0.1rem;
}

.hero-heading span {
  color: #b7ff8b;
}

.hero-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 7%;
  display: flex;
  gap: 1.2rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;

  border-radius: 10px;
  transition: all 0.5s;
}

.light--btn {
  background-color: #96f2d7;
}

.btn.light--btn:hover,
.btn.light--btn:active {
  background-color: #b7ff8b;
}

.btn--retangle {
  padding: 0.8rem 1.6rem;
}

.btn--square {
  padding: 0.8rem;
}

.light--btn .btn-content {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.4rem;
  color: #0c8599;
}

.btn-icon {
  height: 3.2rem;
  width: 3.2rem;
}

/* PROJECTS */

.section-title {
  font-size: 2.4rem;
  text-align: center;
  color: #495057;
  padding-top: 1.6rem;
}

.section-title--light {
  color: #96f2d7;
}

.projects {
  display: grid;
  background-color: #96f2d7;
  height: 100vh;
}

.projects-content {
  display: grid;
  grid-template-columns: 100%;
}

.projects-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.project-card {
  background-color: #0c8599;
  /*   min-height: 30rem; */
  height: 80%;
  width: 30rem;
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 0 20px 20px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.6rem;

  box-shadow: 0 0.4rem #075664;
  cursor: pointer;
  transition: all 0.5s;
}

.project-card:hover {
  transform: translateY(-0.8rem);
  box-shadow: 0 1.2rem #075664;
}

.project-card:hover .project-img {
  transform: translate(-50%, -54%);
  filter: drop-shadow(0 0.4rem 3px rgba(73, 80, 87, 0.3));
}

.project-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  justify-self: center;
  transition: all 0.8s;
}

.project-img--1 {
  left: 55%;
  top: 3%;
}

.project-card:hover .project-img--1 {
  left: 50%;
  top: 0%;
}

.project-card:hover .project-img--2 {
  left: 55%;
  top: 3%;
  z-index: 1;
}

.project-logo {
  margin-top: 85px;
}

.project-text {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  line-height: 1.3;
  color: #dee2e6;
}

.project-card footer {
  margin-top: auto;
}

.project-tags {
}

.tag {
  height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: blue;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  margin-right: 0.4rem;
  line-height: 3rem;
}

.millenium .tag {
  background-color: #800080;
  color: #e8b1e8;
}

.cint .tag {
  background-color: #293d3f;
  color: #91c9b5;
}

.dark--btn {
  color: #22b8cf;
  font-weight: 600;
  font-size: 1.2rem;
}

.dark--btn:hover .btn-content {
  color: #b7ff8b;
}

.btn-content {
  transition: all 0.5s;
}

.project-github {
  background-color: transparent;
}

.services {
  background-color: #96f2d7;
  height: 100vh;
  display: grid;
}

.services-box {
  display: grid;
  grid-template-columns: 1fr;
}

.service {
  height: 70%;
  width: 40%;
  display: flex;
  align-items: center;

  border: 3px solid #0c8599;
  border-radius: 10px;

  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  line-height: 1.3;

  position: relative;

  align-self: flex-start;
  justify-self: center;

  transition: all 0.35s;
}

.service:hover {
  background-color: rgba(12, 132, 153, 0.35);
}

.service:hover .service-icon {
  fill: #96f2d7;
}

.srvc--right {
  flex-direction: row-reverse;
}

.service-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border-radius: 10px;
  background-color: #0c8599;
  position: absolute;
}

.service-icon {
  fill: #f1f3f5;
  height: 3.2rem;
  width: 3.2rem;
  transition: all 0.3s;
}

.srvc--icon--box--right {
  transform: translateX(50%);
}

.srvc--icon--box--left {
  transform: translateX(-50%);
}

.service-text {
  padding: 2.4rem 4.8rem;
  color: #495057;
  font-weight: 600;
}

/* technologies */

.technologies {
  height: 100vh;
  background-color: #0c8599;
}
